# requirements.txt for SpikingTransformerBenchmark
absl-py==2.1.0
audioread==3.0.1
cachetools==5.5.0
cffi==1.17.1
charset-normalizer==3.4.0
cloudpickle==3.1.0
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
deprecated==1.2.15
dv==1.0.12
einops==0.8.0
expelliarmus==1.1.12
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.55.3
fsspec==2024.10.0
google-auth==2.37.0
google-auth-oauthlib==1.0.0
grpcio==1.68.1
gym==0.26.2
gym-notices==0.0.8
h5py==3.11.0
huggingface-hub==0.27.0
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
importrosbag==1.0.4
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
lazy-loader==0.4
librosa==0.10.2.post1
markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
mpmath==1.3.0
msgpack==1.1.0
networkx==3.1
numba==0.58.1
numpy==1.24.4
oauthlib==3.2.2
packaging==24.2
pandas==2.0.3
pbr==6.1.0
Pillow==10.4.0
pooch==1.8.2
protobuf==5.29.1
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycparser==2.22
pygame==2.6.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
six==1.17.0
soundfile==0.12.1
soxr==0.3.7
spikingjelly==0.0.0.0.14
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
thop==0.1.1
threadpoolctl==3.5.0
timm==0.5.4
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.67.1
triton==3.0.0
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.6
wheel==0.44.0
wrapt==1.17.0
zipp==3.20.2
zstd==1.5.5.1